@model GroupsApp.Models.MarketplacePosts.FixedPricePost

<div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="IsNegotiable" class="control-label"></label>
    <input asp-for="IsNegotiable" class="form-control" />
    <span asp-validation-for="IsNegotiable" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="DeliveryType" class="control-label"></label>
    <input asp-for="DeliveryType" class="form-control" />
    <span asp-validation-for="DeliveryType" class="text-danger"></span>
</div>
